include .\money_legos\aave\abi\AToken.json
include .\money_legos\aave\abi\LendingPool.json
include .\money_legos\aave\abi\LendingPoolAddessProvider.json
include .\money_legos\aave\abi\LendingPoolCore.json
include .\money_legos\balancer\abi\BActions.json
include .\money_legos\balancer\abi\BFactory.json
include .\money_legos\balancer\abi\BPool.json
include .\money_legos\balancer\abi\ExchangeProxy.json
include .\money_legos\compound\abi\CEther.json
include .\money_legos\compound\abi\CompoundPriceOracle.json
include .\money_legos\compound\abi\Comptroller.json
include .\money_legos\compound\abi\CToken.json
include .\money_legos\curvefi\abi\Curve.json
include .\money_legos\curvefi\abi\PoolToken.json
include .\money_legos\curvefi\abi\Zap.json
include .\money_legos\dappsys\abi\DSProxy.json
include .\money_legos\dappsys\abi\DSProxyFactory.json
include .\money_legos\dydx\abi\AdminImpl.json
include .\money_legos\dydx\abi\CanonicalOrders.json
include .\money_legos\dydx\abi\DaiPriceOracle.json
include .\money_legos\dydx\abi\Expiry.json
include .\money_legos\dydx\abi\ExpiryV2.json
include .\money_legos\dydx\abi\LimitOrders.json
include .\money_legos\dydx\abi\LiquidatorProxyV1ForSoloMargin.json
include .\money_legos\dydx\abi\OperationImpl.json
include .\money_legos\dydx\abi\PayableProxyForSoloMargin.json
include .\money_legos\dydx\abi\PolynomialInterestSetter.json
include .\money_legos\dydx\abi\Refunder.json
include .\money_legos\dydx\abi\SaiPriceOracle.json
include .\money_legos\dydx\abi\SignedOperationProxy.json
include .\money_legos\dydx\abi\SoloMargin.json
include .\money_legos\dydx\abi\StopLimitOrders.json
include .\money_legos\dydx\abi\UsdcPriceOracle.json
include .\money_legos\dydx\abi\WethPriceOracle.json
include .\money_legos\erc20\abi\ERC20.json
include .\money_legos\erc20\abi\WETH.json
include .\money_legos\idle\abi\IdleTokenV3.json
include .\money_legos\kyber\abi\KyberNetworkProxy.json
include .\money_legos\maker\abi\DssCdpManager.json
include .\money_legos\maker\abi\DssProxyActions.json
include .\money_legos\maker\abi\Medianizer.json
include .\money_legos\maker\abi\ProxyRegistry.json
include .\money_legos\mstable\abi\AaveIntegration.json
include .\money_legos\mstable\abi\BasketManager.json
include .\money_legos\mstable\abi\CompoundIntegration.json
include .\money_legos\mstable\abi\DelayedProxyAdmin.json
include .\money_legos\mstable\abi\ForgeValidator.json
include .\money_legos\mstable\abi\Masset.json
include .\money_legos\mstable\abi\MassetValidationHelper.json
include .\money_legos\mstable\abi\MetaToken.json
include .\money_legos\mstable\abi\Nexus.json
include .\money_legos\mstable\abi\RewardsDistributor.json
include .\money_legos\mstable\abi\SavingsContract.json
include .\money_legos\mstable\abi\SavingsManager.json
include .\money_legos\mstable\abi\StakingRewardsWithPlatformToken.json
include .\money_legos\onesplit\abi\OneSplit.json
include .\money_legos\synthetix\abi\Depot.json
include .\money_legos\synthetix\abi\Exchanger.json
include .\money_legos\synthetix\abi\ExchangeRates.json
include .\money_legos\synthetix\abi\ProxyERC20.json
include .\money_legos\synthetix\abi\Synth.json
include .\money_legos\synthetix\abi\Synthetix.json
include .\money_legos\uma\abi\AddressWhitelist.json
include .\money_legos\uma\abi\DesignatedVotingFactory.json
include .\money_legos\uma\abi\ExpiringMultiParty.json
include .\money_legos\uma\abi\ExpiringMultiPartyCreator.json
include .\money_legos\uma\abi\ExpiringMultiPartyLib.json
include .\money_legos\uma\abi\FinancialContractsAdmin.json
include .\money_legos\uma\abi\Finder.json
include .\money_legos\uma\abi\Governor.json
include .\money_legos\uma\abi\IdentifierWhitelist.json
include .\money_legos\uma\abi\Registry.json
include .\money_legos\uma\abi\Store.json
include .\money_legos\uma\abi\TokenFactory.json
include .\money_legos\uma\abi\Voting.json
include .\money_legos\uma\abi\VotingToken.json
include .\money_legos\uma\abi\WETH9.json
include .\money_legos\uniswap\abi\Exchange.json
include .\money_legos\uniswap\abi\Factory.json
